.QueryPanel {
    column-width: 10%;
    height: 100%;
    background-color:coral;
}

.LogicRow {
    float: left;
}

.ConditionPanel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: aquamarine;
}

.ConditionItem {
    height: 25px;
    margin: 3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.ValueBox {
    width: 10em;
    background-color:cornflowerblue;
};

.QueryPanel > button {
    background-color:beige;
}